In [88]:
import pandas as pd
import os
import numpy as np

In [93]:
davos = pd.read_csv('project-glaciers/data/weather_data_davos_monthly.csv')
sion = pd.read_csv('project-glaciers/data/weather_data_sion_monthly.csv')
sion_dev_t = sion[['th9120mv']]
davos_dev_t = davos[['th9120mv']]
folder_path = "project-glaciers/data"

In [90]:
## Sion
sion_dev_t = sion_dev_t.reset_index(drop=True)

# Step 1: Add a helper column to group every 12 rows
sion_dev_t['year'] = sion_dev_t.index // 12

# Step 2: Add a helper column for the position within each group
sion_dev_t['month'] = sion_dev_t.index % 12

# Step 3: Pivot the DataFrame
sion_monthly_temp_dev = sion_dev_t.pivot(index = 'year',
                                   columns = 'month',
                                   values = 'th9120mv')


# Define the new column names
monthly_observations = [
    'october_td', 'november_td', 'december_td',
    'january_td', 'february_td', 'march_td',
    'april_td', 'may_td', 'june_td',
    'july_td', 'august_td', 'september_td'
]

# Rename the columns
sion_monthly_temp_dev.columns = monthly_observations

# Create the new column with the start date of the hydrological year
sion_monthly_temp_dev['hydrological year'] = [
    f"{1914 + i}-{1915 + i}" for i in range(len(sion_monthly_temp_dev))
]

sion_monthly_temp_dev = sion_monthly_temp_dev.reset_index(drop=True)

sion_monthly_temp_dev


## Davos

davos_dev_t = davos_dev_t.reset_index(drop=True)

# Step 1: Add a helper column to group every 12 rows
davos_dev_t['year'] = davos_dev_t.index // 12

# Step 2: Add a helper column for the position within each group
davos_dev_t['month'] = davos_dev_t.index % 12

# Step 3: Pivot the DataFrame
davos_monthly_temp_dev = davos_dev_t.pivot(index = 'year',
                                   columns = 'month',
                                   values = 'th9120mv')



# Rename the columns
davos_monthly_temp_dev.columns = monthly_observations

# Create the new column with the start date of the hydrological year
davos_monthly_temp_dev['hydrological year'] = [
    f"{1914 + i}-{1915 + i}" for i in range(len(davos_monthly_temp_dev))
]

davos_monthly_temp_dev = davos_monthly_temp_dev.reset_index(drop=True)

davos_monthly_temp_dev

,october_td,november_td,december_td,january_td,february_td,march_td,april_td,may_td,june_td,july_td,august_td,september_td,hydrological year
0,-1.9,-2.6,0.2,-2.4,-1.2,-2.4,-2.4,1.3,-0.1,-2.5,-3.6,-2.5,1914-1915
1,-4.0,-4.2,2.3,0.1,-0.3,-0.4,-1.2,-0.7,-3.9,-2.7,-2.8,-3.2,1915-1916
2,-2.4,-1.7,-0.3,-3.9,-3.2,-3.1,-5.0,1.1,0.1,-1.8,-2.5,1.0,1916-1917
3,-4.5,-3.2,-5.1,-0.8,-1.1,-1.4,-0.5,0.1,-4.3,-2.2,-2.8,-0.4,1917-1918
4,-2.8,-1.2,0.2,-2.2,-2.4,-1.9,-3.8,-3.1,-2.1,-5.0,-0.6,0.4,1918-1919
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,-1.4,2.1,0.3,-1.9,2.6,-0.9,-2.1,-2.4,2.2,-0.3,-1.1,1.8,2020-2021
107,-0.4,-1.0,0.6,0.6,0.8,0.7,0.3,2.3,2.5,2.0,1.7,-0.6,2021-2022
108,3.5,1.3,1.1,0.4,2.0,1.6,-0.9,0.5,2.0,1.2,1.0,3.7,2022-2023
109,3.1,-1.1,1.4,1.2,4.9,2.2,0.6,0.4,0.7,1.8,2.9,-0.3,2023-2024
110,2.0,0.7,0.4,1.7,2.8,2.0,2.7,-0.3,3.6,-0.9,0.9,0.9,2024-2025

In [92]:
## SION

sion_precipitation = sion[['rhs150m0', 'rh9120mv']].copy()
sion_precipitation['rh9120mv'] = sion_precipitation['rh9120mv'] / 100
sion_precipitation['precipitation_dev'] = sion_precipitation['rhs150m0'] - (sion_precipitation['rhs150m0'] / sion_precipitation['rh9120mv'])
sion_precipitation['precipitation_dev'] = sion_precipitation['precipitation_dev'].round(1)
sion_precipitation_dev = sion_precipitation[['precipitation_dev']].copy()

# Step 1: Add a helper column to group every 12 rows
sion_precipitation_dev['year'] = sion_precipitation_dev.index // 12

# Step 2: Add a helper column for the position within each group
sion_precipitation_dev['month'] = sion_precipitation_dev.index % 12

# Step 3: Pivot the DataFrame
sion_precipitation_dev = sion_precipitation_dev.pivot(index = 'year',
                                   columns = 'month',
                                   values = 'precipitation_dev')

# Define the new column names
monthly_observations_pd = [
    'october_pd', 'november_pd', 'december_pd',
    'january_pd', 'february_pd', 'march_pd',
    'april_pd', 'may_pd', 'june_pd',
    'july_pd', 'august_pd', 'september_pd'
]
# Rename the columns
sion_precipitation_dev.columns = monthly_observations_pd

# Create the new column with the start date of the hydrological year
sion_precipitation_dev['hydrological year'] = [
    f"{1914 + i}-{1915 + i}" for i in range(len(sion_precipitation_dev))
]

sion_precipitation_dev = sion_precipitation_dev.reset_index(drop=True)




## DAVOS

davos_precipitation = davos[['rhs150m0', 'rh9120mv']].copy()
davos_precipitation['rh9120mv'] = davos_precipitation['rh9120mv'] / 100
davos_precipitation['precipitation_dev'] = davos_precipitation['rhs150m0'] - (davos_precipitation['rhs150m0'] / davos_precipitation['rh9120mv'])
davos_precipitation['precipitation_dev'] = davos_precipitation['precipitation_dev'].round(1)
davos_precipitation_dev = davos_precipitation[['precipitation_dev']].copy()

# Step 1: Add a helper column to group every 12 rows
davos_precipitation_dev['year'] = davos_precipitation_dev.index // 12

# Step 2: Add a helper column for the position within each group
davos_precipitation_dev['month'] = davos_precipitation_dev.index % 12

# Step 3: Pivot the DataFrame
davos_precipitation_dev = davos_precipitation_dev.pivot(index = 'year',
                                   columns = 'month',
                                   values = 'precipitation_dev')

# Rename the columns
davos_precipitation_dev.columns = monthly_observations_pd

# Create the new column with the start date of the hydrological year
davos_precipitation_dev['hydrological year'] = [
    f"{1914 + i}-{1915 + i}" for i in range(len(davos_precipitation_dev))
]

davos_precipitation_dev = davos_precipitation_dev.reset_index(drop=True)

davos_precipitation_dev

,october_pd,november_pd,december_pd,january_pd,february_pd,march_pd,april_pd,may_pd,june_pd,july_pd,august_pd,september_pd,hydrological year
0,-3.1,-29.3,-46.1,31.4,-11.5,25.5,-19.1,-0.9,-42.6,59.9,-75.8,11.5,1914-1915
1,-71.7,-24.9,-15.6,46.9,54.2,11.4,3.3,-44.9,83.9,-14.7,-13.4,-11.6,1915-1916
2,26.9,12.8,46.9,-0.7,-43.1,-33.9,27.7,-27.4,-57.0,-2.7,44.9,-50.4,1916-1917
3,61.5,-29.4,-36.2,-37.4,-16.0,-20.4,-2.7,-68.5,-10.3,-53.4,-38.8,33.8,1917-1918
4,-27.8,-47.9,159.2,-28.9,-11.4,-24.7,37.0,-27.6,-3.9,5.3,-83.4,-38.3,1918-1919
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,33.1,-65.7,7.5,88.3,-27.3,-6.2,-23.8,2.7,-82.1,49.4,7.5,-42.7,2020-2021
107,-63.5,24.8,-16.3,-34.1,33.7,-50.6,-20.8,-21.3,2.6,-39.7,-64.7,18.3,2021-2022
108,20.9,-28.5,-29.5,-52.1,-29.3,15.3,30.9,23.9,-53.1,-14.7,68.9,-27.1,2022-2023
109,28.5,66.1,98.0,-3.5,-3.1,57.9,-3.3,26.6,-28.3,2.7,-64.2,45.4,2023-2024
110,-10.0,-37.7,-25.9,-22.3,-45.0,-30.9,-37.8,69.1,-2.6,59.9,-10.5,1.9,2024-2025

In [94]:
sion_monthly_temp_dev.to_csv(os.path.join(folder_path, "weather_dev_sion_temp.csv"), index = False)
davos_monthly_temp_dev.to_csv(os.path.join(folder_path, "weather_dev_davos_temp.csv"), index = False)
sion_precipitation_dev.to_csv(os.path.join(folder_path, "weather_dev_sion_prec.csv"), index = False)
davos_precipitation_dev.to_csv(os.path.join(folder_path, "weather_dev_davos_prec.csv"), index = False)